/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*General*/	
html {
  scroll-behavior: smooth;
 }
 
h1, h2, h3, p, li, a, label {
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
}

h2 {
	font-weight: 800;
	font-size: 2em;
}

p {
	margin: 0 0 1.5em 0;
	max-width: 70ch;
	font-weight: 500;
}

nav {
	min-height: 100px;
	padding-left: 1.5%;
    padding-right: 1.5%;
}

nav ul {
	list-style-type: none;
}

nav ul  li a {
	text-decoration: none;
	font-size: 0.8em;
}

nav ul  li a:hover {
	font-size: 0.9em;
	transition: 0.3s;
}

.logo {
	font-size: 1.8em;
	text-decoration: none;
	font-weight: 800;
}

.button {
	font-weight: 700;
	text-decoration: none;
	border: none;
	border-radius: 50px;
	padding: 1em;
	box-shadow: 0px 2px 3px rgb(0 0 0 / 25%);
	cursor: pointer;
	display: inline-block;
	min-width: 169px;
}

.button:hover {
	transition: 0.3s;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.tilt-1 {
	transform: rotateY(180deg);
	background-color: white;
    display: block;
}

.tilt-2 {
	transform: scale(-1);
	display: block;
	background-color: white;
	margin: -1px 0 -1px 0;
}

footer {
	min-height: 100px;
	font-size: 0.8em;
}

footer p {
	margin: 0;
}

/*Colour Classes*/	
.bc-purple {
	background-color: #703E94;
}

.bc-green {
	background-color: #89CAC7;
}

.bc-white {
	background-color: #FFFFFF;
}

.bc-grey {
	background-color: #E6E6E6!important;
}

.fc-white {
	color: #FFFFFF;
}

.fc-black {
	color: #000000;
}

/*Flex*/	

.flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.justify-content-center{
	justify-content: center;
}

.justify-content-space-evenly{
	justify-content: space-evenly;
}

.justify-content-space-around{
	justify-content: space-around;
}

.align-items-center{
 align-items: center;
}

.align-self-center{
	align-self: center;
}

/*Alignment*/	
.right-align {
	margin-left: auto;
}

.text-center {
	text-align:center;
}

/*Home*/	
.hero-text {
	font-size: 5.6em;
	font-weight: 800;
}

.hero-text h2 {
	letter spacing: 2px;
}

.intro-container {
	max-width: 800px;
	position: relative;
}

.intro-container img {
	max-height: 750px;
}

em {
	font-size: 1.8em;
	color: #703E94;
	font-weight: 800;
}

.hero-section {
	padding: 6em 6em 1em 6em;
}

.btn-1 {
	position: absolute;
	top: 78%;
}

.p1 {
	margin: 1.5em 0em 4em 0em;
}

.why-plums-container {
    margin-left: 10%;
	max-width: 20%;
}

.why-plums-container h2 {
	align-self: center;
	margin: 0 0 1.3em 0;
}

.section-2 {
	padding: 5em;
}

.btn-2 {
	position: absolute;
	top: 80%;
}

.btn-3 {
	position: absolute;
	top: 84%;
	min-width: 6.1%;
}

.card-container {
	position: relative;
	padding: 5em 8em 15em 8em;
}

.card {
	border-radius: 40px;
    background-color: white;
	min-height: 600px;
	max-width: 420px;
	display: flex;
    flex-direction: column;
    align-items: center;
	padding: 3em;
	box-shadow: 0px 2px 3px rgb(0 0 0 / 25%);
}

.card h2 {
	padding: 1em 0 1em 0;
	font-size: 1.7em;
}

/*Question*/	
.question-container {
	margin: 10em 6em 10em 6em;
}

.question-card {
	position: relative;
	border-radius: 40px;
	min-height: 600px;
	width: 420px;
	display: flex;
    flex-direction: column;
	padding: 3em;
	box-shadow: 0px 2px 3px rgb(0 0 0 / 25%);
	cursor: pointer;
}

.question-card h2 {
	align-self: flex-start;
	margin: 0.5em 0 2em 0;
}

.question-card p {
	font-weight: 600;
}

.progress-bar {
	position: absolute;
    top: 4%;
    left: 69%;
}

label {
	font-size: 1rem;
	font-weight: 600;
	margin-bottom: 2em;
}


.container {
  display: block;
  position: relative;
  padding-left: 2em;
  margin-bottom: 3em;
  cursor: pointer;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
  border: solid 2px purple;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #703E94;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
 	top: 4px;
	left: 4px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.btn-4 {
	position: absolute;
	top: 81%;
	min-width: 169px;
}

/*Results*/
.results-hero {
	margin: 0px 8% 0 8%;
}

.results-container {
	padding: 13rem 5rem 13rem 5rem;
	position: relative;
}

.level-container {
	position: relative;
	padding: 0 1.5rem 0 1.5rem;
}

.arrow-1 {
	position: absolute;
	top: 61%;
    left: 30%;
}

.arrow-2 {
	position: absolute;
    top: 58%;
    left: 60%
}

.grade {
    position: absolute;
    top: 102%;
	left: 30%;
}

.btn-6 {
	position: absolute;
	top: 102%;
}

.btn-7 {
	position: absolute;
	top: 107%;
}

.btn-8 {
	position: absolute;
	top: 107%;
}


/*Staff Login*/

.login img {
	max-width: 385px;
	margin-top: 6em;
	margin-bottom: 2em;
}

.login-form-section {
	width: 25%;
}

/* Full-width inputs */
input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid #703E94;
  border-radius: 50px;
  width: 48%;
}

.submit-button {
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
	font-weight: 700;
    border: none;
    color: white;
    font-size: 20px;
	background-color: #703E94;
	display: flex !important;
}

fieldset {
	border: none;
	margin-top: 2em;
}

fieldset label {
	margin: 0 1em 0 0;
	font-size : 1.1em;
	font-weight: 800;
}

legend {
	display: none;
}

fieldset:hover {
    border-color: #703E94 ;
}

.submit {
	margin: 2em auto 12em auto;
	width: 70%;
}

.form {
	margin-bottom: 0.5em;
}

/*Staff Login*/

.success img {
	margin-top: 13em;
}

.success h2 {
	margin-bottom: 10em;
}

.btn-5 {
	position: absolute;
	top: 52%;
	left: 47%;
	min-width: 169px;
}